@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

button {
  @apply py-2 px-4 rounded-lg border border-gray-800;
  @apply hover:bg-gray-800 hover:text-white cursor-pointer;
}
button.disabled {
  @apply bg-gray-400 text-gray-600 cursor-not-allowed;
}
input, textarea {
  @apply bg-transparent py-2 px-4 rounded-lg border border-gray-800;
  @apply focus:outline-none focus:border-gray-600;
  @apply text-lg;
}